<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Documents - API Key</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('favicon') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="form__container">
            <h1>Upload Documents - API Key</h1>
            <form action="/get_api_key" method="post">
                <label for="api_key">Enter API Key:</label>
                <input type="text" id="api_key" name="api_key" required>
                <input type="submit" value="Submit API Key">
            </form>
        </div>
    </div>
</body>
</html>
